:root {
    --primary-text: darkred;
    --secondary-text: black;
    --light-text: rgb(164, 164, 164);
}

/* generic class */
.myborder {
    border: 5px solid rgb(189, 44, 44);


}

.text-darkred {

    color: var(--primary-text);

}
.text-grey {
    color: var(--light-text);

}

.no_decoration {
    text-decoration: none;
}

.height-80 {
    height: 80vh;

}

.height-60 {
    height: 60vh;

}

/* body  */
body {
    font-family: 'Nova Square', sans-serif;
}

/* navbar */

.nav-fixed {
    z-index: 1;
    width: 100%;
}


.logo {
    width: 30px;
}

/*header*/
.bg-hero {
    z-index: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 100%), url("./media/switzerland-862870_1920\ \(1\).jpg");
    background-size: cover;
}

.p-relative {
    position: relative;

}

.p-absolute {
    position: absolute;
}

h1 {
    top: 48%;
    left: 33%;
    color: var(--primary-text);
}

/*section 1*/

.borderbottom {
    border-bottom: 2px solid darkred;
}

.borderbottom::after {
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid darkred;
    background-color: white;
    position: absolute;
    border-radius: 20px;
    bottom: -9px;
    left: 100px;
}

.s1-custom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*section 2*/
.bg_s2 {
    background: rgb(219, 218, 233);
    background: linear-gradient(180deg, rgba(219, 218, 233, 1) 0%, rgba(255, 255, 255, 0.5144651610644257) 0%, rgb(222, 223, 223) 100%);
}

.img-custom {
    position: absolute;
    bottom: 0px;
}

.btn-s2{
    background-color: var(--primary-text);
    padding: 15px 25px;

}